<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito&family=Pacifico&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito&family=Pacifico&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/landingPageStyle.css" />
    <title>Home</title>
    <link rel="icon" href="/img/logo.png" type="image/gif">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="/img/Website Logo.png" id="website-logo">
        <h1 class="main-text1">MHM</h1>
        </div>
        <ul class="navbar-links">
          <li><a href="/" class="period-tracker">Home</a></li>
          <li><a href="/tracker" class="period-tracker">Period Tracker</a></li>
          <li><a href="/pamperBooth" class="pamper-booth">Pamper Booth</a></li>
          <li><a href="/forum" class="forum">Discussion Forum</a></li>
          <li><a href="/blog" class="period-tracker">Blog</a></li>
          <li><a href="/products" class="shop">Shop</a></li>
        </ul>
        <button class="start-here">
          <a style="text-decoration: none" href="/login">Start Here</a>
        </button>
      </div>

      <div class="hero-section">
        <div class="corner-bg-blue-div">
          <div class="hero-heading">
            A complete support during the menstrual cycle for every girl of the nation
          </div>
          <!-- <div class="hero-text">
            This website is designed to overcome the challanges faced by every girl that is the Menstrual Hygiene.
          </div> -->
          <div></div>
        </div>
        <div>
          <img src="/img/girl1.png" class="hero-image"> 
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
